logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
activator
activator*
*.db
.cache-main
.cache-tests
bin
.metadata
.history
dist
project/project
project/target
/out
/*.iml
